<div class="container bg-img">
  <!-- <img class="bg-img" /> -->
  <form>
    <h2>User Login</h2>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput placeholder="Ex. Jon" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput placeholder="123456789" />
    </mat-form-field>
    <div>
      <button id="login" mat-flat-button>Login</button>
      <button id="singup" mat-flat-button>Signup</button>
    </div>
  </form>
</div>
