<div class="container bg-img">
  <!-- <img class="bg-img" /> -->
  <form>
    <h2>Welcome New Buddy!</h2>
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput placeholder="BookWorm007" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Email Address</mat-label>
      <input matInput placeholder="Test@email.com" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput placeholder="123456789" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Confirm Password</mat-label>
      <input matInput placeholder="123456789" />
    </mat-form-field>
    <div>
      <button id="signup" mat-flat-button routerLink="/login">Signup</button>
    </div>
  </form>
</div>
